mujs-root {
  --mujs-even-row: hsl(222, 14%, 22%);
  --mujs-odd-row: hsl(222, 14%, 11%);
  --mujs-even-err: hsl(0, 100%, 22%);
  --mujs-odd-err: hsl(0, 100%, 11%);
  --mujs-background-color: hsl(222, 14%, 33%);
  --mujs-gf-color: hsl(204, 100%, 40%);
  --mujs-sf-color: hsl(12, 86%, 50%);
  --mujs-border-b-color: hsla(0, 0%, 0%, 0);
  --mujs-gf-btn-color: hsl(211, 87%, 56%);
  --mujs-sf-btn-color: hsl(12, 86%, 50%);
  --mujs-sf-txt-color: hsl(12, 79%, 55%);
  --mujs-txt-color: hsl(0, 0%, 100%);
  --mujs-chck-color: hsla(0, 0%, 100%, 0.568);
  --mujs-chck-gf: hsla(197, 100%, 50%, 0.568);
  --mujs-chck-git: hsla(213, 13%, 16%, 0.568);
  --mujs-chck-open: hsla(12, 86%, 50%, 0.568);
  --mujs-placeholder: hsl(81, 56%, 54%);
  --mujs-position-top: unset;
  --mujs-position-bottom: 1em;
  --mujs-position-left: unset;
  --mujs-position-right: 1em;
  --mujs-font-family: Arial, Helvetica, sans-serif;

  font-family: var(--mujs-font-family, Arial, Helvetica, sans-serif);
  text-rendering: optimizeLegibility;
  word-break: normal;
  font-size: 14px;
  color: var(--mujs-txt-color, hsl(0, 0%, 100%));
}

mujs-root * {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  scrollbar-color: var(--mujs-txt-color, hsl(0, 0%, 100%)) hsl(224, 14%, 21%);
  scrollbar-width: thin;

  @supports not (scrollbar-width: thin) {
    ::-webkit-scrollbar {
      width: 1.4vw;
      height: 3.3vh;
    }

    ::-webkit-scrollbar-track {
      background-color: hsl(224, 14%, 21%);
      border-radius: 16px;
      margin-top: 3px;
      margin-bottom: 3px;
      box-shadow: inset 0 0 6px hsla(0, 0%, 0%, 0.3);
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 16px;
      background-color: var(--mujs-txt-color, hsl(0, 0%, 100%));
      background-image: -webkit-linear-gradient(
        45deg,
        hsla(0, 0%, 100%, 0.2) 25%,
        transparent 25%,
        transparent 50%,
        hsla(0, 0%, 100%, 0.2) 50%,
        hsla(0, 0%, 100%, 0.2) 75%,
        transparent 75%,
        transparent
      );
    }

    ::-webkit-scrollbar-thumb:hover {
      background: var(--mujs-txt-color, hsl(0, 0%, 100%));
    }
  }
}

@at-root mu-js {
  line-height: normal;
}

mujs-section > label,
.mujs-homepag e,
td.mujs-list,
.install {
  font-size: 16px;
}

.install,
.mujs-homepage {
  font-weight: 700;
}

mujs-section > label,
td.mujs-list {
  font-weight: 500;
}

.mujs-invalid {
  border-radius: 8px !important;
  border-width: 2px !important;
  border-style: solid !important;
  border-color: hsl(0, 100%, 50%) !important;
}

mujs-config,
tab-root,
mujs-column,
mujs-row,
.mujs-sty-flex {
  display: flex;
}

mujs-config,
mujs-column,
mujs-row {
  gap: 0.5em;
}

mujs-column {
  count-frame {
    &[data-type='greasyfork'] {
      background: var(--mujs-gf-color, hsl(204, 100%, 40%));
    }

    &[data-type='sleazyfork'] {
      background: var(--mujs-sf-color, hsl(12, 86%, 50%));
    }

    &[data-type='github'] {
      background: hsla(213, 13%, 16%);
    }

    &[data-type='openuserjs'] {
      background: hsla(12, 86%, 50%, 0.568);
    }
  }

  @media screen and (max-width: 800px) {
    flex-flow: row wrap;
  }
}

mujs-config,
mujs-row {
  flex-flow: column wrap;
}

mu-js {
  cursor: default;
}

.hidden {
  display: none !important;
  z-index: -1 !important;
}

mujs-main {
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  background: var(--mujs-background-color, hsl(222, 14%, 33%)) !important;
  border: 1px solid var(--mujs-txt-color, hsl(0, 0%, 100%));
  border-radius: 16px;

  @media screen and (max-height: 720px) {
    &:not(.webext-page) {
      height: 100% !important;
      bottom: 0rem !important;
      right: 0rem !important;
      margin: 0rem !important;
    }
  }

  &.expanded {
    height: 100% !important;
    bottom: 0rem !important;
  }

  &:not(.webext-page) {
    position: fixed;
    height: 492px;

    &:not(.expanded) {
      margin-left: 1rem;
      margin-right: 1rem;
      right: 1rem;
      bottom: 1rem;
    }
  }

  &:not(.hidden) {
    z-index: 99999999999999999 !important;
    display: flex !important;
    flex-direction: column !important;
  }

  > * {
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
  }

  mujs-toolbar {
    order: 0;
    padding: 0.5em;
    display: flex;
    place-content: space-between;

    tab-root {
      overflow: hidden;
      order: 0;
    }

    mujs-column {
      flex-flow: row nowrap;
      order: 999999999999;
    }

    > * {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
    }
  }

  tab-root {
    gap: 0.5em;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex-flow: row wrap;

    tab-content {
      padding: 0.25em;
      min-width: 150px;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
      display: flex;
      place-content: space-between;
      border: 1px solid transparent;
      border-radius: 4px;
      background: transparent;

      @media screen and (max-width: 800px) {
        min-width: 6em !important;
      }

      &.active {
        background: var(--mujs-even-row, hsl(222, 14%, 18%));
      }

      &:not(.active) {
        &:hover {
          background: var(--mujs-even-row, hsl(222, 14%, 18%));
        }
      }

      tab-host {
        float: left;
        overflow: auto;
        overflow-wrap: break-word;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      tab-close {
        float: right;
      }
    }

    tab-add {
      order: 999999999999;
      font-size: 20px;
      padding: 0px 0.25em;

      &:hover {
        background: var(--mujs-even-row, hsl(222, 14%, 18%));
      }
    }
  }

  mujs-btn,
  input {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  input {
    // background: var(--mujs-background-color, hsl(222, 14%, 33%));
    background: hsla(0, 0%, 0%, 0);
    color: var(--mujs-txt-color, hsl(0, 0%, 100%));

    &:not([type='checkbox']) {
      border: transparent;
      outline: none !important;
    }
  }

  mujs-page,
  textarea {
    background: inherit;
    overflow-y: auto;
    border: 1px solid var(--mujs-txt-color, hsl(0, 0%, 100%));
    border-radius: 5px;
    outline: none;
    font-family: monospace;
    font-size: 14px;
  }

  mujs-page {
    padding: 0.5em;
    margin: 0.5em;
  }

  textarea {
    overflow-y: auto;
    color: var(--mujs-placeholder, hsl(81, 56%, 54%));
    resize: vertical;

    &:focus {
      outline: none;
    }
  }

  th,
  mujs-config *:not(input[type='password'], input[type='text'], input[type='number']) {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
  }

  .mujs-footer {
    order: 3;
    overflow-x: hidden;
    text-align: center;
    border-radius: 16px;

    > * {
      min-height: 50px;
    }

    .error {
      &:nth-child(even) {
        background: var(--mujs-even-err, hsl(0, 100%, 22%)) !important;
      }

      &:nth-child(odd) {
        background: var(--mujs-odd-err, hsl(0, 100%, 11%)) !important;
      }
    }
  }

  .mujs-prompt {
    align-items: center;
    justify-content: center;

    svg {
      width: 14px;
      height: 14px;
      background: transparent;
    }

    > .prompt {
      position: absolute;
      background: var(--mujs-background-color, hsl(222, 14%, 33%)) !important;
      border: 1px solid var(--mujs-txt-color, hsl(0, 0%, 100%));
      border-radius: 16px;
      text-align: center;
      padding: 0.5em;
      z-index: 1;
      top: 1%;

      .prompt-head {
        font-size: 18px;
      }

      .prompt-body {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 0.5em;
        padding-top: 0.5em;
      }

      mujs-btn {
        &.prompt-deny {
          background: var(--mujs-sf-btn-color, hsl(12, 86%, 50%));
          border-color: var(--mujs-sf-btn-color, hsl(12, 86%, 50%));

          &:hover {
            background: var(--mujs-sf-txt-color, hsl(12, 79%, 55%));
            border-color: var(--mujs-sf-txt-color, hsl(12, 79%, 55%));
          }
        }

        &.prompt-confirm {
          background: var(--mujs-gf-color, hsl(204, 100%, 40%));
          border-color: var(--mujs-gf-color, hsl(204, 100%, 40%));

          &:hover {
            background: var(--mujs-gf-btn-color, hsl(211, 87%, 56%));
            border-color: var(--mujs-gf-btn-color, hsl(211, 87%, 56%));
          }
        }
      }
    }
  }
}

mujs-mainframe {
  background: transparent;
  position: fixed;
  bottom: var(--mujs-position-bottom, 1rem);
  right: var(--mujs-position-right, 1rem);
  top: var(--mujs-position-top, unset);
  left: var(--mujs-position-left, unset);

  count-frame {
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    height: auto;
    padding: 14px 16px;
  }

  &.error {
    opacity: 1 !important;

    count-frame {
      background: var(--mujs-even-err, hsl(0, 100%, 22%)) !important;
    }
  }

  &:not(.hidden) {
    z-index: 99999999999999999 !important;
    display: block;
  }
}

count-frame {
  border-radius: 1000px;
  margin: 0px 3px;
  padding: 4px 6px;
  border: 2px solid var(--mujs-border-b-color, hsla(0, 0%, 0%, 0));
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  text-align: center;
  min-width: 1em;
  background: var(--mujs-background-color, hsl(222, 14%, 33%));
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

mujs-header {
  order: 1;
  display: flex;
  border-bottom: 1px solid var(--mujs-txt-color, hsl(0, 0%, 100%));
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
  font-size: 1em;
  place-content: space-between;
  height: fit-content;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  gap: 1em;

  > *:not(mujs-url) {
    height: fit-content;
    height: -moz-fit-content;
    height: -webkit-fit-content;
  }

  mujs-url {
    order: 0;
    flex-grow: 1;

    > input {
      width: 100%;
      height: 100%;
      background: var(--mujs-even-row, hsl(222, 14%, 18%));
      border: 1px solid var(--mujs-txt-color, hsl(0, 0%, 100%));
      border-radius: 4px;
    }
  }

  .rate-container {
    order: 1;
  }

  .btn-frame {
    order: 999999999999;
  }
}

mujs-body {
  order: 2;
  overflow-x: hidden;
  padding: 0px;
  height: 100%;
  border: 1px solid var(--mujs-border-b-color, hsla(0, 0%, 0%, 0));
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;

  .mujs-ratings {
    padding: 0 0.25em;
    border: 1px solid var(--mujs-txt-color, hsl(0, 0%, 100%));
    border-radius: 1000px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  mu-jsbtn {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  table,
  th,
  td {
    border-collapse: collapse;
  }

  table {
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;

    @media screen and (max-width: 1180px) {
      thead > tr {
        display: table-column;
      }

      .frame:not(.webext-page) {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        padding-top: 0.5em;
        padding-bottom: 0.5em;

        td {
          margin: auto;

          > mujs-a,
          > mu-js,
          > mujs-column {
            text-align: center;
            justify-content: center;
          }

          > mujs-a {
            width: 100%;
          }

          > mujs-column {
            @media screen and (max-width: 800px) {
              flex-flow: column wrap;

              > mujs-config,
              > mujs-row {
                align-content: center;
              }

              mujs-column {
                justify-content: center;
              }
            }
          }

          &:not(.mujs-name, .install-btn) {
            width: 25%;
          }

          &.install-btn {
            @media screen and (max-width: 800px) {
              width: 100%;
            }
          }
        }

        .mujs-name {
          width: 100%;
        }
      }
    }

    @media screen and (max-width: 550px) {
      .frame:not(.webext-page) {
        td {
          margin: 1rem !important;

          &:not(.mujs-name, .install-btn) {
            width: auto !important;
          }
        }
      }
    }

    th {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      background: hsla(222, 14%, 33%, 0.75);
      border-bottom: 1px solid var(--mujs-txt-color, hsl(0, 0%, 100%));

      &[data-tag="name"] {
        width: 50%;

        @media screen and (max-width: 800px) {
          width: auto !important;
        }
      }
    }

    .frame {
      &:nth-child(even) {
        background: var(--mujs-even-row, hsl(222, 14%, 18%)) !important;

        textarea {
          background: var(--mujs-odd-row, hsl(222, 14%, 33%)) !important;
        }
      }

      &:nth-child(odd) {
        background: var(--mujs-odd-row, hsl(222, 14%, 33%)) !important;

        textarea {
          background: var(--mujs-even-row, hsl(222, 14%, 18%)) !important;
        }
      }

      &:not([data-engine='sleazyfork'], [data-engine='greasyfork']) {
        mujs-a {
          color: var(--mujs-sf-txt-color, hsl(12, 79%, 55%));
        }

        mu-jsbtn {
          background: var(--mujs-sf-btn-color, hsl(12, 86%, 50%));
          border-color: var(--mujs-sf-btn-color, hsl(12, 86%, 50%));

          &:hover {
            background: var(--mujs-sf-txt-color, hsl(12, 79%, 55%));
            border-color: var(--mujs-sf-txt-color, hsl(12, 79%, 55%));
          }
        }
      }

      &[data-engine='sleazyfork'],
      &[data-engine='greasyfork'] {
        mujs-a {
          color: var(--mujs-gf-color, hsl(197, 100%, 50%));

          &:hover {
            color: var(--mujs-gf-btn-color, hsl(211, 87%, 56%));
          }
        }

        mu-jsbtn {
          background: var(--mujs-gf-color, hsl(204, 100%, 40%));
          border-color: var(--mujs-gf-color, hsl(204, 100%, 40%));

          &:hover {
            background: var(--mujs-gf-btn-color, hsl(211, 87%, 56%));
            border-color: var(--mujs-gf-btn-color, hsl(211, 87%, 56%));
          }
        }
      }

      &[data-good],
      &[data-author] {
        mujs-a {
          color: var(--mujs-placeholder, hsl(81, 56%, 54%));

          &:hover {
            color: hsl(81, 56%, 43%);
          }
        }

        .mujs-list {
          color: hsl(0, 0%, 100%);
        }

        mu-jsbtn {
          color: hsl(215, 47%, 24%);
          background: var(--mujs-placeholder, hsl(81, 56%, 54%));
          border-color: var(--mujs-placeholder, hsl(81, 56%, 54%));

          &:hover {
            background: hsl(81, 56%, 65%);
            border-color: hsl(81, 56%, 65%);
          }
        }
      }

      &.translated:not([data-good], [data-author]) {
        mujs-a {
          color: hsl(249, 56%, 65%);

          &:hover {
            color: hsl(249, 56%, 85%);
          }
        }

        mu-jsbtn {
          color: hsl(215, 47%, 85%);
          background: hsl(249, 56%, 65%);
          border-color: hsl(249, 56%, 65%);

          &:hover {
            background: hsl(249, 56%, 65%);
            border-color: hsl(249, 56%, 65%);
          }
        }
      }

      .mujs-ratings {
        &[data-el='good'] {
          border-color: hsl(120, 50%, 40%);
          background-color: hsla(120, 50%, 40%, 0.102);
          color: hsl(120, 100%, 60%);
        }

        &[data-el='ok'] {
          border-color: hsl(60, 100%, 30%);
          background-color: hsla(60, 100%, 30%, 0.102);
          color: hsl(60, 100%, 50%);
        }

        &[data-el='bad'] {
          border-color: hsl(0, 100%, 30%);
          background-color: hsla(0, 50%, 40%, 0.102);
          color: hsl(0, 100%, 50%);
        }
      }

      svg {
        width: 12px;
        height: 12px;
        fill: currentColor;
        background: transparent;
      }

      > td:not(.mujs-name) {
        text-align: center;
      }

      > .mujs-name {
        > mujs-a {
          width: -webkit-fit-content;
          width: -moz-fit-content;
          width: fit-content;
        }

        mu-jsbtn,
        mu-js {
          height: -webkit-fit-content;
          height: -moz-fit-content;
          height: fit-content;
        }

        > mu-jsbtn {
          margin: auto;
        }

        > mujs-column {
          > mu-jsbtn {
            padding: 0px 7px;

            @media screen and (max-width: 800px) {
              width: 100%;
            }
          }
        }
      }

      > .mujs-uframe {
        > mujs-a {
          font-size: 16px;
          font-weight: 500;
          padding-left: 0.5rem;
          padding-right: 0.5rem;
        }
      }

      [data-el='more-info'] {
        > mujs-row {
          gap: 0.25em;
        }
      }

      [data-el='matches'] {
        gap: 0.25em;
        max-width: 40em;

        .mujs-grants {
          display: inline-flex;
          flex-flow: row wrap;
          overflow: auto;
          overflow-wrap: break-word;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: -webkit-fit-content;
          width: -moz-fit-content;
          width: fit-content;
          max-height: 5em;
          gap: 0.2em;

          > mujs-a {
            display: inline;

            &:not([data-command]) {
              cursor: default !important;
              color: var(--mujs-txt-color, hsl(0, 0%, 100%));
            }

            &::after {
              content: ', ';
              color: var(--mujs-txt-color, hsl(0, 0%, 100%));
            }

            &:last-child::after {
              content: '';
            }
          }
        }

        @media screen and (max-width: 800px) {
          align-self: center;
          width: 30em !important;
        }
      }

      [data-name='license'] {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;

        @media screen and (max-width: 800px) {
          width: 100% !important;
          width: -moz-available !important;
          width: -webkit-fill-available !important;
        }
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  mujs-config {
    margin: 0px auto 1rem auto !important;
  }
}

mujs-config {
  mujs-section {
    border-radius: 16px;
    padding: 0.5em;

    &:nth-child(even) {
      background: var(--mujs-even-row, hsl(222, 14%, 18%)) !important;

      input,
      select {
        background: var(--mujs-odd-row, hsl(222, 14%, 33%));
      }

      select option {
        background: var(--mujs-odd-row, hsl(222, 14%, 33%));

        &:hover {
          background: var(--mujs-even-row, hsl(222, 14%, 18%)) !important;
        }
      }
    }

    &:nth-child(odd) {
      background: var(--mujs-odd-row, hsl(222, 14%, 33%)) !important;

      input,
      select {
        background: var(--mujs-even-row, hsl(222, 14%, 18%));
      }

      select option {
        background: var(--mujs-even-row, hsl(222, 14%, 18%));

        &:hover {
          background: var(--mujs-odd-row, hsl(222, 14%, 33%)) !important;
        }
      }
    }

    &[data-name='theme'] {
      .sub-section {
        border-radius: 4px;

        &:nth-child(even) {
          background: var(--mujs-even-row, hsl(222, 14%, 18%));
        }
        &:nth-child(odd) {
          background: var(--mujs-odd-row, hsl(222, 14%, 33%));
        }
      }
      input,
      select {
        background: inherit;
      }

      select option {
        background: inherit;

        &:hover {
          background: var(--mujs-even-row, hsl(222, 14%, 18%)) !important;
        }
      }
    }

    svg {
      width: 14px;
      height: 14px;
      fill: currentColor;
      background: transparent;
    }

    // &[data-name='theme'],
    &[data-name='exp'],
    &[data-name='blacklist'] {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 0.25em;

      > mujs-btn {
        &:hover {
          background: var(--mujs-even-row, hsl(222, 14%, 18%)) !important;
        }

        width: 100%;
        width: -moz-available;
        width: -webkit-fill-available;
      }
    }

    input[type='text']::-webkit-input-placeholder {
      color: var(--mujs-placeholder, hsl(81, 56%, 54%));
    }

    input[type='text']::-moz-placeholder {
      color: var(--mujs-placeholder, hsl(81, 56%, 54%));
    }

    input[type='text']:-ms-input-placeholder {
      color: var(--mujs-placeholder, hsl(81, 56%, 54%));
    }

    input[type='text']::-ms-input-placeholder {
      color: var(--mujs-placeholder, hsl(81, 56%, 54%));
    }

    input[type='text']::placeholder {
      color: var(--mujs-placeholder, hsl(81, 56%, 54%));
    }

    > label {
      &:not([data-blacklist]) {
        display: flex;
        justify-content: space-between;
      }

      &[data-blacklist] {
        display: grid;
        grid-auto-flow: column;

        &:not(.new-list) {
          grid-template-columns: repeat(2, 1fr);
        }
      }

      &.new-list {
        order: 999999999999;

        mujs-add {
          font-size: 20px;
        }
      }

      input:not([type='checkbox']) {
        font-size: 14px;
        position: relative;
        border-radius: 4px;
        border: 1px solid var(--mujs-txt-color, hsl(0, 0%, 100%));
      }
    }

    select,
    select option {
      color: var(--mujs-txt-color, hsl(0, 0%, 100%));
      border: 1px solid transparent;
      list-style: none;
      outline-style: none;
      pointer-events: auto;
    }

    select {
      text-align: center;
      border-radius: 4px;
    }

    > *.sub-section {
      padding: 0.2em;

      &[data-engine] {
        flex-wrap: wrap;

        input {
          width: 100%;
          width: -moz-available;
          width: -webkit-fill-available;
        }
      }

      input[type='text'] {
        margin: 0.2em 0px;
      }
    }
  }

  .mujs-inlab {
    position: relative;
    width: 38px;

    input[type='checkbox'] {
      display: none;

      &:checked + label {
        margin-left: 0;
        background: var(--mujs-chck-color, hsla(0, 0%, 100%, 0.568));

        &:before {
          right: 0px;
        }
      }

      &[data-name='greasyfork']:checked + label {
        background: var(--mujs-gf-color, hsl(204, 100%, 40%));
      }

      &[data-name='sleazyfork']:checked + label {
        background: var(--mujs-sf-color, hsl(12, 86%, 50%));
      }

      &[data-name='openuserjs']:checked + label {
        background: var(--mujs-chck-open, hsla(12, 86%, 50%, 0.568));
      }

      &[data-name='github']:checked + label {
        background: var(--mujs-chck-git, hsla(213, 13%, 16%, 0.568));
      }
    }

    label {
      padding: 0;
      display: block;
      overflow: hidden;
      height: 16px;
      border-radius: 20px;
      border: 1px solid var(--mujs-txt-color, hsl(0, 0%, 100%));

      &:before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        margin: -2px;
        background: var(--mujs-txt-color, hsl(0, 0%, 100%));
        position: absolute;
        top: 0;
        right: 20px;
        border-radius: 20px;
      }
    }
  }

  .mujs-sty-flex {
    mujs-btn {
      margin: auto;

      &[data-command='reset'] {
        background: var(--mujs-sf-btn-color, hsl(12, 86%, 50%));
        border-color: var(--mujs-sf-btn-color, hsl(12, 86%, 50%));

        &:hover {
          background: var(--mujs-sf-txt-color, hsl(12, 79%, 55%));
          border-color: var(--mujs-sf-txt-color, hsl(12, 79%, 55%));
        }
      }

      &[data-command='save'] {
        background: var(--mujs-gf-color, hsl(204, 100%, 40%));
        border-color: var(--mujs-gf-color, hsl(204, 100%, 40%));

        &:hover {
          background: var(--mujs-gf-btn-color, hsl(211, 87%, 56%));
          border-color: var(--mujs-gf-btn-color, hsl(211, 87%, 56%));
        }
      }
    }
  }

  &:not(.webext-page) {
    margin: 1rem 25rem;
  }

  height: fit-content;
  height: -moz-fit-content;
  height: -webkit-fit-content;

  display: flex;
  flex-flow: column wrap;
  gap: 0.5em;

  @media screen and (max-height: 720px) {
    &:not(.webext-page) {
      height: 100%;
      height: -moz-available;
      height: -webkit-fill-available;
      width: 100%;
      width: -moz-available;
      width: -webkit-fill-available;
      overflow-x: auto;
      padding: 0.5em;
    }
  }
}

mujs-a {
  display: inline-block;
}

.mujs-name {
  display: flex;
  flex-flow: column wrap;
  gap: 0.5em;

  span {
    font-size: 0.8em !important;
  }
}

mujs-btn {
  font-style: normal;
  font-weight: 500;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  text-align: center;
  border: 1px solid var(--mujs-txt-color, hsl(0, 0%, 100%));
  font-size: 16px;
  border-radius: 4px;
  line-height: 1;
  padding: 6px 15px;

  svg {
    width: 14px;
    height: 14px;
    fill: var(--mujs-txt-color, hsl(0, 0%, 100%));
  }
}

mu-jsbtn {
  font-size: 14px;
  border-radius: 4px;
  font-style: normal;
  padding: 7px 15%;
  font-weight: 400;
  font-variant: normal;
  line-height: normal;
  display: block;
  text-align: center;
}

mujs-a,
mu-jsbtn,
.mujs-pointer,
mujs-config
  mujs-section
  *:not(input[type='text'], input[type='number'], [data-theme], [data-blacklist]),
.mainbtn,
mujs-mainframe,
mujs-btn {
  cursor: pointer !important;
}
