// importing core styling file
@use './fontawesome/fontawesome.scss';

// our project needs Solid + Brands
@use './fontawesome/solid.scss';
@use './fontawesome/brands.scss';

body.webext-page {
  padding: 0;
  margin: 0;
  background: var(--mujs-background-color, hsl(222, 14%, 33%));
  color: var(--mujs-txt-color, hsl(0, 0%, 100%));
  border: 1px solid rgba(0, 0, 0, 0);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 14px;
  min-width: 720px;

  mujs-config,
  .mujs-cfg {
    display: flex;
    gap: 10px;
    flex-direction: column;
    textarea {
      width: 100%;
      width: -moz-available;
      width: -webkit-fill-available;
    }
  }
  mujs-main {
    min-width: 25em;
    height: 492px;
    min-height: 492px;
  }
}
